
@import "tailwindcss";

/* Custom theme and color in tailwind css in vite Project */
@theme {
    --color-primary : #800000;     /*Maroon */
    --color-hoverPrimary:#600000;
    --color-secondary : #1F2937; /* slate gray */
    --color-muted : #9CA3AF /* ray */
}